* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",sans-serif;
}

a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
    font-size: 14px
}

body {
    background: #2F3136;
}

.MuiTab-wrapper:active, .MuiTab-wrapper:focus{
    background-color: #7289DB !important;
}

.MuiTab-wrapper:hover{
    background-color: #36393F;
    border-radius: 5px;
    -webkit-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
}

.myTabs {
    border-radius: 0;
    height: 0;
    min-height: 0;
    width: 9px !important;
    min-width: 9px;
}

.MuiCard-root {
    background-color: #292B2F;
}

.breadcrumb {
    color: red;
    width: 20px;
    -webkit-animation: scale-up-center 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate both;
    animation: scale-up-center 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}
@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}

.categoryItem {
    margin-left: 8px;
}

.name {
    text-decoration: none;
}

.MuiPaper-root {
    background-color: #202225 !important;
}

/** LOGIN PAGE **/
.logo11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 130px;
    height: 36px;
    background: url('../images/Login/Tittle-Discord.svg') no-repeat;
}

.logo12 {
    position: relative;
    margin: 24px auto 0;
}

.logo13 {
    position: fixed;
    top: 24px;
    left: 50%;
    margin-left: -65px;
    margin-top: 0;
    z-index: 1;
}

@media (min-width: 830px) {
    .logo13 {
        position: fixed;
        top: 24px;
        left: 24px;
        margin: 0;
    }
}

@media (min-width: 830px) {
    .logo12 {
        position: fixed;
        top: 24px;
        left: 24px;
        margin: 0;
    }
}

.pageContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.loginMessage {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 660px;
}

@media (max-width: 540px) {
    .loginMessage {
        width: 360px;
        margin-top: 15vmin;
    }
}

.containerMessage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #36393f;
    padding: 14px 16px 14px 0;
    position: relative;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
    border-radius: 5px;
}

.PopImage{
    width: 107px;
    height: 72px;
    position: absolute;
    bottom: 0;
    left: 32px;
}

.colorHeaderPrimary{
    color: #fff;
}

.textTitle {
    font-size: 18px;
    line-height: 20px;
    margin-left: 171px;
    padding-top: 8px;
}

.theme-dark {
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: #dcddde;
    --text-muted: #72767d;
    --text-link: #00b0f4;
    --channels-default: #8e9297;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #4f545c;
    --background-primary: #36393f;
    --background-secondary: #2f3136;
    --background-secondary-alt: #292b2f;
    --background-tertiary: #202225;
    --background-accent: #4f545c;
    --background-floating: #18191c;
    --background-mobile-primary: #36393f;
    --background-mobile-secondary: #2f3136;
    --background-modifier-hover: rgba(79,84,92,0.16);
    --background-modifier-active: rgba(79,84,92,0.24);
    --background-modifier-selected: rgba(79,84,92,0.32);
    --background-modifier-accent: hsla(0,0%,100%,0.06);
    --background-mentioned: rgba(250,166,26,0.05);
    --background-mentioned-hover: rgba(250,166,26,0.08);
    --background-message-hover: rgba(4,4,5,0.07);
    --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
    --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
    --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
    --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
    --logo-primary: #fff;
    --focus-primary: #00b0f4;
    --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    --channeltextarea-background: #40444b;
    --activity-card-background: #202225;
    --textbox-markdown-syntax: #8e9297;
    --deprecated-card-bg: rgba(32,34,37,0.6);
    --deprecated-card-editable-bg: rgba(32,34,37,0.3);
    --deprecated-store-bg: #36393f;
    --deprecated-quickswitcher-input-background: #72767d;
    --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
    --deprecated-text-input-bg: rgba(0,0,0,0.1);
    --deprecated-text-input-border: rgba(0,0,0,0.3);
    --deprecated-text-input-border-hover: #040405;
    --deprecated-text-input-border-disabled: #202225;
    --deprecated-text-input-prefix: #dcddde;
}

.authBox{
    /*width: 480px;*/
    padding: 32px;
    font-size: 18px;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.authBoxExpand {
    width: 784px;
    background-color: #36393f;
}

@media (max-width: 830px) {
    .authBoxExpand {
        max-width: 480px;
    }
}

@media (max-width: 485px) {
    .authBox {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: -webkit-gradient(linear, right top, left bottom, from(#3d4046), to(#1e1e23));
        background: linear-gradient(to left bottom, #3d4046, #1e1e23);
        border-radius: 0;
    }
}

.centeringWrap{
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.mainBox{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    display: flex;
    /*align-items: center;*/
}

.formBlock {
    text-align: left;
}

.marginTop20 {
    margin-top: 20px;
}

.verticalSeparator {
    margin: 0 32px;
    border: 1px solid var(--background-modifier-accent);
}

.title {
    font-weight: 600;
    color: #fff;
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 30px;
}

.subTitle {
    font-size: 16px;
    line-height: 20px;
    color: #b9bbbe;
}

.Login-loginLink-11, .Register-loginLink-241 {
    color: #7289DA;
    text-decoration: none;
    font-size: 14px
}

Link {
    color: #7289DA;
    text-decoration: none;
    font-size: 14px
}

.guildIconContainer {
    margin-right: 4px;
}

.guildBadge {
    -webkit-transition: color .1s linear;
    transition: color .1s linear;
}

.verified {
    color: #7289da;
}

.background {
    width: 16px;
    height: 16px;
}

.flowerStarContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.flowerStar {
    width: 100%;
    height: 100%;
}

.childContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    pointer-events: none;
    position: absolute;
    top: -.05px;
    left: 0.05px;
    right: 0;
    bottom: 0;
}

.icon {
    width: 100%;
    height: 100%;
    color: #fff;
}

.animatedContainer, .bannerImage {
    position: absolute;
    height: 135px;
    top: 0;
    left: 0;
}

.animatedContainer {
    width: 100%;
    overflow: hidden;
    background-color: var(--background-modifier-active);
    -webkit-box-shadow: var(--elevation-low);
    box-shadow: var(--elevation-low);
}

.bannerImage {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    width: 240px;
    transform: translateY(0px) scale(1);
}

.bannerImage:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.4)),to(transparent));
    background: linear-gradient(180deg,rgba(0,0,0,.4) 0,transparent);
}