* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",sans-serif;
}

body {
    background: #2F3136;
}

.MuiTab-wrapper:active, .MuiTab-wrapper:focus{
    background-color: #7289DB !important;
}

.MuiTab-wrapper:hover{
    background-color: #36393F;
    border-radius: 5px;
    -webkit-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
}

.myTabs {
    border-radius: 0;
    height: 0;
    min-height: 0;
    width: 9px !important;
    min-width: 9px;
}

.MuiCard-root {
    background-color: #292B2F;
}

.breadcrumb {
    color: red;
    width: 20px;
    -webkit-animation: scale-up-center 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate both;
    animation: scale-up-center 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}
@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}

.categoryItem {
    margin-left: 8px;
}

.name {
    text-decoration: none;
}

.MuiPaper-root {
    background-color: #292B2F !important;
}